<?xml version="1.0" encoding="utf-8"?>
<SystemProperties>
  <SystemName>Controller2</SystemName>
  <SerialNo>VIRTUAL_USE</SerialNo>
  <UsedMedia>
    <Media path="C:\Users\valeh\AppData\Local\ABB\RobotWare\RobotWare_6.15.7032" name="RobotWare" version="6.15.7032">
    </Media>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotWare Base">
    </Option>
    <Option descr="English">
    </Option>
    <Option descr="642-2 Palletizing PowerPac">
    </Option>
    <Option descr="616-1 PC Interface">
    </Option>
    <Option descr="617-1 FlexPendant Interface">
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Drive System IRB 2600/390/4400/6400R">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="Axis Calibration">
    </Option>
    <Option descr="IRB 2600-20/1.65 Type C">
    </Option>
  </DriveModule>
</SystemProperties>